@import url("../print/typography.css");
@import url("../print/header.css");
@import url("../print/highlight.css");
@import url("../print/table.css");

.page-print-preview {
  @apply h-auto bg-grey-100 p-10;
}

.a4 {
  @apply mx-auto mb-10 bg-white shadow;
  padding: 0.52in 0.35in;
  width: 8.5in;

  header,
  section {
    margin-inline: 0.17in;
  }

  > * {
    margin-bottom: 2.5rem;
  }
}

.page-break {
  @apply relative grid w-full place-content-center bg-grey-200;

  height: 1px;

  &:before {
    content: "Page Break";

    @apply rounded border border-grey-200 bg-white px-2 py-0.5 text-grey-400;
  }
}
