.page-dashboard {
  @apply grid;

  grid-template-columns: [panel-left full-start] 21rem [main] auto [panel-right] 21rem [full-end];
  grid-template-rows: [header] theme(spacing.20) [main] auto;

  .app-header {
    grid-column: full;
    grid-row: header;
  }

  .app-view {
    grid-column: full;
    grid-row: main;
  }

  .app-panel--left {
    grid-row: main;
    grid-column: panel-left;
  }

  .app-panel--right {
    grid-row: main;
    grid-column: panel-right;
  }
}
