.page-dashboard {
  @apply grid;

  grid-template-columns: [sidebar-left full-start] 21rem [main] auto [sidebar-right] 21rem [full-end];
  grid-template-rows: [header] theme(spacing.20) [main] auto;

  .app-header {
    grid-column: full;
    grid-row: header;
  }

  .app-view {
    grid-column: full;
    grid-row: main;
  }

  .app-sidebar--left {
    grid-row: main;
    grid-column: sidebar-left;
  }

  .app-sidebar--right {
    grid-row: main;
    grid-column: sidebar-right;
  }
}
