<div x-data="{
  open: false,
  toggle() {
    if(this.open) {
      return this.close()
    }

    this.$refs.button.focus()

    this.open = true
  },

  close(focusAfter) {
    if(!this.open) return

    this.open = false

    focusAfter && focusAfter.focus()
  }
}" x-on:keydown.escape.prevent.stop="close($refs.button)"
  x-on:focusin.window="! $refs.panel.contains($event.target) && close()" x-id="['dropdown-button']"
  class="relative inline-flex items-center">
  <img class="h-8 w-auto pr-6" src="./resources/svg/fundermaps-logo-srgb.svg" alt="logo" />
  <button x-ref="button" x-on:click="toggle()">
    <div class="relative flex gap-4 border-l border-l-grey-400 pl-7">
      <img class="rounded-full" src="https://i.lemone.space/image/pizza" />
      <div class="flex flex-col items-start">
        <h2 class="text-lg">Gemeente Schiedam</h2>
        <span class="text-sm font-bold text-green-500"><i class="icon icon-repeat"></i> Naar kaartgroep</span>
      </div>
    </div>
  </button>

  <div x-ref="panel" x-show="open" x-transition.origin.top.left x-on:click.outside="close($refs.button)"
    :id="$id('dropdown-button')" style="display: none"
    class="absolute left-14 top-10 mt-2 w-full rounded-md bg-white shadow-md">
    <div class="flex flex-col space-y-5 pb-7">
      <div class="flex w-full justify-between px-7 pt-7">
        <h3 class="text-lg">Open kaartgroepen</h3>
        <button class="text-sm font-bold" x-on:click="close($refs.button)">
          Sluit
          <i class="icon icon-close"></i>
      </div>

      <div class="flex items-center gap-2 px-7">
        <div class="relative">
          <img class="aspect-auto w-8 rounded-full" src="https://i.lemone.space/image/pizza" alt="">
          <img class="absolute -bottom-1 -right-1 rounded-full bg-blue-500 p-1 ring-2 ring-white"
            src="./resources/svg/icons/check.svg" />
        </div>
        <div class="leading-4">
          <span class="font-bold">Gemeente Schiedam</span>
          <span class="text-sm text-blue-500">Geselecteerd</span>
        </div>
      </div>

      <hr class="text-grey-200" />

      <div class="flex flex-col space-y-2 px-7">
        <h3 class="text-lg">Mijn kaartgroepen</h3>

        <a href="#" class="flex items-center gap-2">
          <img class="h-8 w-8 rounded-full" src="https://i.lemone.space/image/pizza" />
          <div class="flex flex-col">
            <span class="font-bold">Gemeente Schiedam</span>
            <span class="text-sm font-bold text-green-500"><i class="icon icon-repeat"></i> Naar kaartgroep</span>
          </div>
        </a>

        <a href="#" class="flex items-center gap-2">
          <img class="h-8 w-8 rounded-full" src="https://i.lemone.space/image/pizza" />
          <div class="flex flex-col">
            <span class="font-bold">Gemeente Schiedam</span>
            <span class="text-sm font-bold text-green-500"><i class="icon icon-repeat"></i> Naar kaartgroep</span>
          </div>
        </a>

        <a href="#" class="flex items-center gap-2">
          <img class="h-8 w-8 rounded-full" src="https://i.lemone.space/image/pizza" />
          <div class="flex flex-col">
            <span class="font-bold">Gemeente Schiedam</span>
            <span class="text-sm font-bold text-green-500"><i class="icon icon-repeat"></i> Naar kaartgroep</span>
          </div>
        </a>

        <a href="#" class="flex items-center gap-2">
          <img class="h-8 w-8 rounded-full" src="https://i.lemone.space/image/pizza" />
          <div class="flex flex-col">
            <span class="font-bold">Gemeente Schiedam</span>
            <span class="text-sm font-bold text-green-500"><i class="icon icon-repeat"></i> Naar kaartgroep</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
