.panel {
  @apply relative z-10 grid h-full w-full flex-shrink-0 gap-2 overflow-hidden bg-white/80 py-4 backdrop-blur-md;

  grid-template-rows: [panel-header] auto [panel-content] 1fr [panel-footer] auto;

  > * {
    @apply px-7;
  }

  &__header {
    @apply flex items-baseline justify-between;

    grid-row: panel-header;
  }

  &__content {
    @apply space-y-8 overflow-scroll;

    grid-row: panel-content;
  }

  &__footer {
    grid-row: panel-footer;

    @apply mt-4;
  }
}

[class*="app-panel--"] {
  @apply block overflow-hidden;
}

.panels {
  @apply flex h-full;
}
